<!DOCTYPE html>
<html>
    <% include ./partials/head.ejs %>
    <body>
        <% include ./partials/navbar.ejs %>
        <% include ./partials/messages.ejs %>
        <div class='container'>
            <div class='row'>
                <div class='col-12'>
                    <div class='jumbotron'>
                        <h1 class='display-4 mb-4'>csvHolla</h1>
                        <a id='price.csv' class='btn btn-primary btn-lg' href='/users/download/' role='button'>Download file</a>
                    </div>
                </div>
            </div>
            <div class='row cards'>
                <div class='col-md-4 col-sm-12'>
                    <div class='card shadow-sm'>
                        <div class='card-header'>
                            <h4 class="my-0 font-weight-normal">Binance</h4>
                        </div>
                        <div class='card-body d-flex flex-column'>
                            <h1 id='binancePrice' class="card-title">$0</h1>
                            <h6 class='card-subtitle mb-5 mt-3'>
                                Binance is a global cryptocurrency exchange that provides a platform for trading more than 100 cryptocurrencies. Since early 2018, Binance is considered as the biggest cryptocurrency exchange in the world in terms of trading volume.
                            </h6>
                            <a id='binance-price.csv' href='/users/download/binance' role='button' class="btn btn-lg btn-block btn-outline-primary mt-auto">Download File</a>
                        </div>
                    </div>
                </div>
                <div class='col-md-4 col-sm-12'>
                    <div class='card shadow-sm'>
                        <div class='card-header'>
                            <h4 class="my-0 font-weight-normal">BitMEX</h4>
                        </div>
                        <div class='card-body d-flex flex-column'>
                            <h1 id='bitmexPrice' class="card-title">$0</h1>
                            <h6 class='card-subtitle mb-5 mt-3'>
                                BitMEX is a cryptocurrency exchange and derivative trading platform. It is owned and operated by HDR Global Trading Limited, which is registered in the Seychelles and has offices worldwide.
                            </h6>
                            <a id='bitmex-price.csv' href='/users/download/bitmex' role='button' class="btn btn-lg btn-block btn-outline-primary mt-auto">Download File</a>
                        </div>
                    </div>
                </div>
                <div class='col-md-4 col-sm-12'>
                    <div class='card shadow-sm'>
                        <div class='card-header'>
                            <h4 class="my-0 font-weight-normal">Bitstamp</h4>
                        </div>
                        <div class='card-body d-flex flex-column'>
                            <h1 id='bitstampPrice' class="card-title">$0</h1>
                            <h6 class='card-subtitle mb-5 mt-3'>
                                Bitstamp is a bitcoin exchange based in Luxembourg. It allows trading between USD currency and bitcoin cryptocurrency. It allows USD, EUR, bitcoin, litecoin, ethereum, ripple or bitcoin cash deposits and withdrawals.
                            </h6>
                            <a id='bitstamp-price.csv' href='/users/download/bitstamp' role='button' class="btn btn-lg btn-block btn-outline-primary mt-auto">Download File</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% include ./partials/baseScript.ejs %>

    </body>
</html>