<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
        <title>csvHolla</title>
        <link rel='stylesheet' href='/app.css'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">csvHolla</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sign up</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class='container'>
            <div class='row'>
                <div class='col-12'>
                    <div class='jumbotron'>
                        <h1 class='display-4 mb-4'>csvHolla</h1>
                        <a class='btn btn-primary btn-lg' target="_blank" href='/download/price.csv' role='button'>Download file</a>
                    </div>
                </div>
            </div>
            <div class='row cards'>
                <div class='col-md-4 col-sm-12'>
                    <div class='card shadow-sm'>
                        <div class='card-header'>
                            <h4 class="my-0 font-weight-normal">Binance</h4>
                        </div>
                        <div class='card-body d-flex flex-column'>
                            <h1 id='binancePrice' class="card-title">$0</h1>
                            <h6 class='card-subtitle mb-5 mt-3'>
                                Binance is a global cryptocurrency exchange that provides a platform for trading more than 100 cryptocurrencies. Since early 2018, Binance is considered as the biggest cryptocurrency exchange in the world in terms of trading volume.
                            </h6>
                            <a href='#' role='button' class="btn btn-lg btn-block btn-outline-primary mt-auto">Download File</a>
                        </div>
                    </div>
                </div>
                <div class='col-md-4 col-sm-12'>
                    <div class='card shadow-sm'>
                        <div class='card-header'>
                            <h4 class="my-0 font-weight-normal">BitMEX</h4>
                        </div>
                        <div class='card-body d-flex flex-column'>
                            <h1 id='bitmexPrice' class="card-title">$0</h1>
                            <h6 class='card-subtitle mb-5 mt-3'>
                                BitMEX is a cryptocurrency exchange and derivative trading platform. It is owned and operated by HDR Global Trading Limited, which is registered in the Seychelles and has offices worldwide.
                            </h6>
                            <a href='#' role='button' class="btn btn-lg btn-block btn-outline-primary mt-auto">Download File</a>
                        </div>
                    </div>
                </div>
                <div class='col-md-4 col-sm-12'>
                    <div class='card shadow-sm'>
                        <div class='card-header'>
                            <h4 class="my-0 font-weight-normal">Bitstamp</h4>
                        </div>
                        <div class='card-body d-flex flex-column'>
                            <h1 id='bitstampPrice' class="card-title">$0</h1>
                            <h6 class='card-subtitle mb-5 mt-3'>
                                Bitstamp is a bitcoin exchange based in Luxembourg. It allows trading between USD currency and bitcoin cryptocurrency. It allows USD, EUR, bitcoin, litecoin, ethereum, ripple or bitcoin cash deposits and withdrawals.
                            </h6>
                            <a href='#' role='button' class="btn btn-lg btn-block btn-outline-primary mt-auto">Download File</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="price.js"></script>
    </body>
</html>